<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_lidar" params="ns:='' reference_link laser_params_yaml_path">
    <xacro:property name="namespace" value="${ns + '/' if ns != '' else ''}" />
    <xacro:property name="laser_params" value="${xacro.load_yaml(laser_params_yaml_path)}"/>
    <xacro:property name="laser_horizontal" value="${laser_params['horizontal']}"/>
    <xacro:property name="laser_vertical" value="${laser_params['vertical']}"/>
    <xacro:property name="laser_range" value="${laser_params['range']}"/>
    <xacro:property name="laser_noise" value="${laser_params['noise']}"/>

    <gazebo reference="${reference_link}">
      <sensor name="${namespace}${laser_params['sensor_name']}" type="gpu_lidar">
        <update_rate>${laser_params['update_rate']}</update_rate>
        <gz_frame_id>${reference_link}</gz_frame_id>
        <ray>
          <scan>
            <horizontal>
              <samples>${laser_horizontal['samples']}</samples>
              <resolution>${laser_horizontal['resolution']}</resolution>
              <min_angle>${laser_horizontal['min_angle']}</min_angle>
              <max_angle>${laser_horizontal['max_angle']}</max_angle>
            </horizontal>
            <vertical>
              <samples>${laser_vertical['samples']}</samples>
              <resolution>${laser_vertical['resolution']}</resolution>
              <min_angle>${laser_vertical['min_angle']}</min_angle>
              <max_angle>${laser_vertical['max_angle']}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${laser_range['min']}</min>
            <max>${laser_range['max']}</max>
            <resolution>${laser_range['resolution']}</resolution>
          </range>
          <noise>
            <type>${laser_noise['type']}</type>
            <mean>${laser_noise['mean']}</mean>
            <stddev>${laser_noise['stddev']}</stddev>
          </noise>
        </ray>
        <always_on>${laser_params['always_on']}</always_on>
        <visualize>${laser_params['visualize']}</visualize>
        <topic>${namespace}${laser_params['topic']}</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>